<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/books/new_book" method="post">
        {{form.csrf_token}}
        {{form.title.label}} : {{form.title}}
        {{form.author.label}}: {{form.author}}
        {{form.rating.label}} : {{form.rating}}
        {{form.submit}}

    </form>
</body>
</html>